FINAL/
affectnet/
before/
datasetFIX/

db_faces_clean_select/
hasil_seleksi_datasetFIX/
hasil_seleksi_before_deepface/
hasil_seleksi_deepface_datasetFIX
db_deepface_undersampled/
db_faces_clean/
db_faces_clean_selected/
disgust_fear_pyfeat/
face_only_ori/
rafdb_128/
hasil_seleksi_deepface_datasetFIX/
hasil_seleksi_deepface_rafdb_128/
hasil_seleksi_face_only_ori/
seleksi_affectnet_df/
seleksi_before_deepface/
UJI/
venv/

